<div hidden="" class="app-topstrip bg-success text-white p-y-10 p-x-20 w-100 d-lg-flex align-items-center justify-content-between" >
    <!-- <h2 class="f-s-18 m-y-8 text-lg-left text-center">Flexy Pro Version is Available!</h2> -->

    <div class="d-flex align-items-center justify-content-center flex-wrap">

        <a mat-button class="text-white d-none d-lg-flex" href="#" target="_blank">
            <div class="d-flex align-items-center gap-4">
                <!-- <i-tabler name="briefcase" class="icon-20 d-flex"></i-tabler> -->
                <!-- Hire Us -->
            </div>
        </a>

    

    </div>
</div>