<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Resend Password OTP</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form class="mt-3" (ngSubmit)="onRequest()" #passwordForm="ngForm">
           <!-- Submit Button -->
      <div class="m-t-6">
        <button
          mat-flat-button
          color="primary"
          class="w-50 py-2 fw-bold"
          type="submit"
          [disabled]="loading || !passwordForm.form.valid">
          <ng-container *ngIf="loading">
            <img src="./assets/images/loading.gif" alt="Loading..." style="width: 26px; height: 26px;" />
          </ng-container>
          <span *ngIf="!loading">Resend OTP </span>
        </button>
      </div>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-danger mt-2">
        <b>{{ errorMessage }}</b>
      </div>
    </form>
  </mat-card-content>
</mat-card>





<!-- Password Reset-->
<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Complete Password Change</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form class="mt-3" (ngSubmit)="onCompletePassword()" #completePasswordForm="ngForm">
      <div class="row">
      
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">New Password*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input 
              matInput
              type="password"
              placeholder="Enter New Password"
              name="newPassword"
              required
              [(ngModel)]="passwordData.newPassword" />
          </mat-form-field>
        </div>
      
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">New OTP*</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input 
              matInput
              type="password"
              placeholder="Enter New OTP"
              name="otp"
              required
              [(ngModel)]="passwordData.otp"/>
          </mat-form-field>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="m-t-6">
        <button
          mat-flat-button
          color="primary"
          class="w-50 py-2 fw-bold"
          type="submit"
          [disabled]="loadingPass || !completePasswordForm.form.valid">
          <ng-container *ngIf="loadingPass">
            <img src="./assets/images/loading.gif" alt="Loading..." style="width: 26px; height: 26px;" />
          </ng-container>
          <span *ngIf="!loadingPass">Reset</span>
        </button>
      </div>

      <!-- Error Message -->
      <div *ngIf="errorPassMessage" class="alert alert-danger mt-2">
        <b>{{ errorPassMessage }}</b>
      </div>
    </form>
  </mat-card-content>
</mat-card>
