<mat-card class="cardWithShadow theme-card p-4">

  <mat-card-header  *ngIf="payoutStatus;">
    <mat-card-title class="text-xl fw-bold m-0">Request Payout</mat-card-title>
    <p class="text-primary">
      Please note: A service charge of 5% will be applied to the total withdrawal amount.
    </p>
  </mat-card-header>

  

  <mat-card-content class="b-t-1 mt-3">
    <div class="row" *ngIf="payoutStatus; else noPayout">
    <ng-container >
      <form (ngSubmit)="onCreateWithdraw()" #payoutForm="ngForm">
        <div class="row gx-4">
          <!-- Amount Input -->
          <div class="col-md-6 mb-4">
            <label class="fw-semibold mb-2 d-block">Amount *</label>
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                type="number"
                placeholder="Enter Amount"
                name="amount"
                required
                [(ngModel)]="withdrawData.amount" />
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>

          <!-- Transaction PIN Input -->
          <div class="col-md-6 mb-4">
            <label class="fw-semibold mb-2 d-block">Transaction Pin *</label>
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                type="password"
                placeholder="Enter Transaction Pin"
                name="transactionPin"
                required
                [(ngModel)]="withdrawData.transactionPin" />
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center mt-3">
          <button
            mat-flat-button
            color="primary"
            class="px-5 py-2 fw-semibold"
            type="submit"
            [disabled]="loading || !payoutForm.form.valid">
            <ng-container *ngIf="loading">
              <mat-progress-spinner
                diameter="22"
                color="accent"
                mode="indeterminate"
                [strokeWidth]="3"
                class="me-2">
              </mat-progress-spinner>
            </ng-container>
            <span *ngIf="!loading">Payout</span>
          </button>
        </div>

        <!-- Error Message -->
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          <strong>{{ errorMessage }}</strong>
        </div>
      </form>
      
    </ng-container>
  </div>

    <!-- Else block when payoutStatus is false -->
    <ng-template #noPayout>
      <div class="text-center p-4">
        <mat-icon color="warn" class="mb-2" style="font-size: 48px;">block</mat-icon>
        <!-- <h4 class="text-danger">Payouts are currently unavailable.</h4> -->
        <p>{{payoutDescription}}.</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
