<div class="blank-layout-container d-flex justify-content-center align-items-center bg-light min-vh-100">
  <div class="position-relative row w-100 h-100 justify-content-center align-items-center">
    <div class="col-lg-12 col-md-12 col-sm-10">
      <mat-card class="p-11 shadow rounded-3">
        <mat-card-content>
          <div class="text-center mb-4">
            <a [routerLink]="['/welcome']">
              <img src="./assets/images/logos/dark-logo.jpg" alt="logo" style="width: 100px;" />
            </a>
          </div>


          <!-- FAQ Section -->
           <div class="faq-container">
  <h2 class="title">Frequently Asked Questions</h2>
  <div *ngFor="let faq of faqs; let i = index" class="faq-item">
    <div class="question" (click)="toggle(i)">
      <span style="line-height: 1.50;">{{ faq.question }}</span>
      <span class="toggle-icon">{{ openedIndex === i ? '-' : '+' }}</span>
    </div>
    <div class="answer" *ngIf="openedIndex === i"  style="line-height: 1.50;">
      {{ faq.answer }}
    </div>
  </div>
</div>

      <!-- <mat-accordion class="mt-12">
            <mat-expansion-panel *ngFor="let faq of faqs" class="mb-30">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-size: 1.85rem; line-height: 2.9; padding-bottom:48px;padding-top:28px;">
                  {{ faq.question }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="mb-0" style="font-size: 1.25rem; line-height: 2.7;">{{ faq.answer }}</p>
            </mat-expansion-panel>
      </mat-accordion> -->
        
      <br><br>
          <div class="text-center mt-4">
            <a [routerLink]="['/welcome']" class="text-primary text-decoration-none fw-semibold">
              Go Back ?
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>