.shadow {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  }
  
  .mat-form-field {
    font-size: 15px;
  }
  
  .mat-flat-button {
    font-size: 16px;
    border-radius: 6px;
  }
  .faq-gap {
  margin-bottom: 8rem; /* or any value you prefer */
}




mat-card {
  background-color: #ffffff;
  border-radius: 1rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 0.95rem;
  line-height: 1.6;
}
.mat-card-title {
  font-size: 1.2rem;
  font-weight: 500;
}